{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'front/css/upload_page.css' %}">
  <title>Загрузить изображение</title>

<body>
  <div class="city-block">
    
  </div>
  <div class="main-container">
    <div class="container">
      <h1>Постройте свой маршрут по достопримечательностям</h1>
    </div>
    <div class="city-select-container">
      <label for="citySelect" class="citi-select-label">Выберите город:</label>
      <select id="citySelect">
        <option value="Нижний Новгород">Нижний Новгород</option>
        <option value="Ярославль">Ярославль</option>
        <option value="Екатеринбург">Екатеринбург</option>
        <option value="Владимир">Владимир</option>
      </select>

    </div>
    <div class="put-info-container">
      <div class="row-container">
        <form id="imageForm" enctype="multipart/form-data">
          <label for="image">фото</label>
          <input type="file" id="image" name="image" accept="image/*">
        </form>
      </div>
      <div class="row-container mid-row-container">
        <p>или</p>
      </div>
      <div class="text-input row-container">
        <label for="text">описание</label>
        <input type="text" id="text" name="text">
      </div>
    </div>
    <button id="submitBtn">Добавить место</button>
  </div>

  </div>

  </form>
  </div>
  <form id="fetchDataForm">
    <label for="urlInput">Введите адрес:</label><br>
    <input type="text" id="urlInput" name="urlInput"><br>
    <button type="button" id="fetchDataButton">Получить данные</button>
  </form>

</body>
<script type="text/javascript">const staticUrl = "{{ STATIC_URL }}";</script>
<script src="{% static 'front/js/image_loader.js' %}"></script>
<script src="{% static 'front/js/attract_shower.js' %}"></script>

</html>