{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'front/css/upload_page.css' %}">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=cca8aae9-b269-402b-b2a3-a9d9f65059ef&lang=ru_RU"></script>
  <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    type="text/javascript"></script>
  <title>Загрузить изображение</title>
</head>

<body>
  <div class="main-container">
    <div class="city-block">
      <div class="city-name-wrapper">
        <h2 id="city-name">Нижний Новгород</h2>
      </div>
      <div class="city-description-wrapper">
        <p id="city-description">
          Город на Волге, основанный Великим князем Георгием Всеволодовичем в 1221 году. Богат историей и культурным
          наследием, включая Кремль и архитектуру
        </p>
      </div>
    </div>
    <div class="city-select-container">
      <label for="citySelect" class="citi-select-label">Выберите город:</label>
      <select id="citySelect">
        <option value="Нижний Новгород">Нижний Новгород</option>
        <option value="Ярославль">Ярославль</option>
        <option value="Екатеринбург">Екатеринбург</option>
        <option value="Владимир">Владимир</option>
      </select>
    </div>
    <h1>Постройте свой маршрут по достопримечательностям</h1>


    <div class="put-info-container">
      <div class="row-container">
        <form id="imageForm" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="image">фото</label>
          <input type="file" id="image" name="image" accept="image/*">
        </form>
      </div>
      <div class="row-container mid-row-container">
        <p>или</p>
      </div>
      <div class="text-input row-container">
        <form id="descriptionForm">
          {% csrf_token %}
          <label for="text">описание</label>
          <input type="text" id="text" name="text">
        </form>
      </div>
    </div>
    <button id="getSpots" type="button" class='submitBtn'>Показать результаты</button>


    <form id="fetchDataForm">
      {% csrf_token %}
      <label for="urlInput">Введите адрес:</label><br>
      <input type="text" id="urlInput" name="urlInput"><br>
      <button type="submit" id="fetchDataButton">Получить данные</button>
    </form>

    <div class="predict-wrapper">
      <div id="map" style="width: 600px; height: 400px"></div>
    </div>
  </div>
</body>
<script type="text/javascript">const staticUrl = "{{ STATIC_URL }}";</script>
<script src="{% static 'front/js/image_loader.js' %}"></script>
<script src="{% static 'front/js/attract_shower.js' %}"></script>
</html>